---
title: My works station | Vladimir Shepel
layout: default
class: station-works
---

<div id="white" class="visable animated fadeOut"></div>
<header>
    <figure>
        <div class="panel-link">
            <a class="back-link" href="{{ site.url }}" title="Back to Portfolio Station"><i class="icon">home</i></a> \ <a class="next-link" href="{{ '/contact' | prepend: site.baseurl }}" title="Go on Contact Station"><i class="icon">arrow_forward</i></a>
        </div>
        <h1>My works</h1>
        <p>Station</p>
    </figure>
    <img id="train" class="animated bounceInLeft" src="{{ '/assets/img/train.svg' | prepend: site.baseurl }}">
</header>
<main>
    <div class="button-group filters-button-group">
        <button class="button is-checked" data-filter="*">all
        <button class="button" data-filter=".ui">UI Design
        <button class="button" data-filter=".templates">Templates
        <button class="button" data-filter=".concepts">Concepts
    </div>

    {% if site.posts.size > 0 %}
    <div class="work_list">
        <div class="column_size"></div>
        {% for post in site.posts %}
        <div class="work {{ post.categories }} {{ post.size }}">
            <div>
                <a href="{{ post.url | prepend: site.baseurl }}" target="_blank" class="work_link">
                    <img src="/works/poster/{{ post.link }}.png" alt="{{ post.title }}">
                    <i class="icon animated">open_in_new</i>
                </a>
                <div>
                    <span>{{ post.title }}</span>
                    <br>
                    <small>
                        {% for tag in post.tags %}
                        <span>{{ tag }}</span>
                        {% endfor %}
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="nope-post">
        <i class="icon-work3"></i>
        New works will be soon
    </p>
    {% endif %}

</main>

{% include footer.html %}
