$primary: #808080;
$second: #b5ddf7;
$grey95: #f1f1f1;
$grey80: #cccccc;
$black: #000;
$white: #fff;
$yellow: #ffe559;
$red: #e14242;
$green: #a9c52f;
$blue: #3498db;
$purple: #7047a3;
$sky: #e8eef1;
